{# Samle page #}
{% extends "layouts/index.twig" %}

{% block content %}
  <h1 class="title">Sample Bulma Page</h1>
  <p class="subtitle">This is a sample content page to test Bulma CSS.</p>
{% endblock %}