<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  {% if css_url %}
    <link rel="stylesheet" href="{{ css_url }}">
  {% else %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/lux/bulmaswatch.min.css">
  {% endif %}
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
</head>
<body>
<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">All pages</h1>
      <p>List all available templates from <strong>src/views</strong> folder.</p>
      <div class="buttons are-large">
        {% for template in templates %}
          <a class="button is-dark is-rounded"
             href="{{ path_for('templates.view', {'template': template}) }}">
            <span class="icon is-small"><i class="fas fa-bookmark"></i></span>
            <span>{{ template|capitalize }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
</body>
</html>